body{
    margin: 0;
    padding: 0;
   
}
.one{
    z-index: 1;
    color: yellow;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70pt;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   


   
}
/* @keyframes example{
    0%{color: red;}
    25%{color: yellow;}
    50% {color: white;}
    75%{color: green;}
    100%{color: red;}
}
  */
  a{
    
    color:rgb(255, 230, 0);
    text-decoration: none;
    margin-left: 10px
   
    
    }
    .welcom
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: x-large;
        color:red;
       
    }
    .sa{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: x-large;
        
        
    }
    #myvideo{
        width:100vw;
        height:100vh;
        object-fit: cover;
    position: fixed;
    right:0;
     bottom:0;
     z-index: -1;

    }

